/*  your css code here. If applicable */
*{
	margin:0;
	padding:0;
}
.header{
	text-align:center;
	padding:10px;
	background-color: #011e29;
	color:white;
}
body{
	background-color:#f5f5f5;
}
.container{
	display:flex;
	justify-content: space-around;
	margin-top: 20px;
	align-items: flex-start;
}
.pictorial-news-section{
	background-color: white;
	border: 1px solid gray;
	margin: 10px;
	padding: 10px;
	text-align: center;
}
.pictorial-news-section img{
	height: 10wh;
	width: 20vw;
	padding: 10px;
}

.main-article{
	background-color: white;
	border: 1px solid gray;
	margin: 10px;
	padding: 10px;
	text-align: center;
}
.main-article p{
	margin-top: 20px;
}

.latest-news-section{
	background-color: white;
	border: 1px solid gray;
	margin: 10px;
	padding: 10px;
	text-align: center;
	flex: 1;
	min-width: 200px;
}
.latest-news-section ul{
	list-style-position: inside;
	padding-left:0;
	margin:0;
}
.latest-news-section li{
	margin: 5px 0;
}